{% extends "base.html.twig" %}
{% block title %}About{% endblock %}
{% block body %}
<div class="site-canvas">
	<div class="banner-wrap">
	  <div class="wsite-elements wsite-not-footer wsite-header-elements">
  <div class="wsite-section-wrap">
  <div  class="wsite-section wsite-header-section wsite-section-bg-image wsite-section-effect-reveal" style="height: auto;background-color: black;background-position: 50.00% 49.04% ;background-size: 100% ;background-size: cover;" >
	  <div class="wsite-section-content">
		  
		<div class="container">
		  <div class="banner">
			  <div class="wsite-section-elements">
				  

<div class="wsite-spacer" style="height:10px;"></div>

<div class="paragraph">About Us</div>
			  </div>
		  </div>
		</div>
	  
	  </div>
	  <div class=""></div>
  </div>
</div>

</div>

	</div><!-- end banner-wrap -->

	<div class="main-wrap">
	  <div id="wsite-content" class="wsite-elements wsite-not-footer">
  <div class="wsite-section-wrap">
  <div class="wsite-section wsite-body-section wsite-background-17" style="height: auto;" >
	  <div class="wsite-section-content">
		<div class="container">
		  <div class="wsite-section-elements">
			  <div class="wsite-spacer" style="height:50px;"></div>

<h2 class="wsite-content-title">Who We Are</h2>

<h2 class="wsite-content-title"><font color="#008621" size="5">Our Vision</font></h2>

<div class="paragraph">Our vision is to see people feeling less stressed about their medical transportations needs and being free to fully perform their daily activities even in wheelchairs or Stretchers.</div>

<h2 class="wsite-content-title"><font color="#008621" size="5">Why We Were Founded</font></h2>

<div class="paragraph">We were first created for kids transportation. Because we have noticed many parents don't really need a Nanny. All they need is a reliable, responsible, affordable and punctual transportation that has high safety rules in place to commute their children to/from School, Camps, Daycare, Training section on the field etc. However, there were very few affordable Kids' Transportation Companies in the Washington DC area. Therefore, we went ahead and created one, whose conciliate safety, responsibility, comfort, and affordability to solve our area's parents difficulties.<br />However, on our way, we&nbsp;discovered that there were more unfulfilled demands with medical transportation needs. Specially, those who were on beds&#128716; or in wheelchair &#9855; and sometimes with no elevators, were the most left behind. So our boarding direction decided to get specialized in non-emergency medical transportation, where was the most needs.&nbsp;</div>

<div><div style="height: 20px; overflow: hidden; width: 100%;"></div>
<hr class="styled-hr" style="width:100%;"></hr>
<div style="height: 40px; overflow: hidden; width: 100%;"></div></div>

<h2 class="wsite-content-title">Top Quality Services</h2>

<h2 class="wsite-content-title"><font color="#008621" size="5">About Our Core Values</font></h2>

<div class="paragraph">Our core values drive our commitment to quality service for our partners and passengers. We hire only those who want to make a difference and then give them the training to follow through and exceed expectations. The result is a harmonious relationship with our partners and exceptional care for passengers.</div>

<h2 class="wsite-content-title"><font color="#008621" size="5">Flexibility</font></h2>

<div class="paragraph">Our team of field service representatives (FSRs) provide full transportation services to patients and the elderly to the tune of 200+ rides each day for many organizations. It is because of our excellent staff that we can provide timely, reliable transportation to accommodate non-traditional trips requests and meet the needs of your clients and patients. Our flexibility makes it exponentially easier to arrange prompt and safe transportation for our precious Clients. From <a href="http://rideemt.com/services/wheelchair-transportation-services/">Ambulatory to Wheelchair</a>,&nbsp;<strong style="color:rgb(98, 98, 98)"><u>or</u></strong>&nbsp; <u><strong>Stairs'</strong></u><strong><u><u>&nbsp;</u>Chair</u></strong>,&nbsp;<strong style="color:rgb(98, 98, 98)"><u>or</u></strong>&nbsp;<a href="http://rideemt.com/services/medical-van-transportation/">Stretcher</a>&nbsp;and&nbsp;<a href="http://rideemt.com/services/dialysis-transportation-services/">BLS</a>&nbsp;rides for family members, we have the capabilities to provide the most convenient ride for all non-emergency situations.</div>

<h2 class="wsite-content-title"><font color="#008621" size="5">Partnerships</font></h2>

<div class="paragraph">Our flexibility extends to the partnerships we create with organizations across Washington DC, Maryland and Virginia.<br />&#8203; We customize plans with each partner to ensure consistent transportation with flexible scheduling and billing arrangements. Furthermore, we accept every insurance including, <strong><font color="#000000">MEDICAID, MEDICARE, AMERIGROUP, KAISER PERMANENTE</font></strong> etc., <br /><strong>Partners seek our assistance to either replace or supplement their existing transportation needs. Our experience, flexibility and expertise ensure a hassle-free process.</strong></div>

<div class="wsite-spacer" style="height:50px;"></div>

<div class="wsite-spacer" style="height:50px;"></div>
		  </div>
	  </div>
	  </div>

  </div>
</div>
<div class="wsite-section-wrap">
  <div class="wsite-section wsite-body-section wsite-section-bg-color wsite-background-20" style="height: auto;background-color: #020202;background-image: none;is_customized: 1;" >
	  <div class="wsite-section-content">
		
	  </div>

  </div>
</div>

</div>

	</div><!-- end main-wrap -->



{% endblock %}