{% extends "base.html.twig" %}
{% block title%} Ambulatory transportation {% endblock %}
{%block body%}
<div class="site-canvas">
	<div class="banner-wrap">
	  <div class="wsite-elements wsite-not-footer wsite-header-elements">
  <div class="wsite-section-wrap">
  <div  class="wsite-section wsite-header-section wsite-section-bg-image wsite-section-effect-reveal" style="height: auto;background-color:black ;background-position: 50.00% 63.04% ;background-size: 100%  ;background-size: cover;" >
	  <div class="wsite-section-content">
		  
		<div class="container">
		  <div class="banner">
			  <div class="wsite-section-elements">
				  

<div class="wsite-spacer" style="height:10px;"></div>

<div class="paragraph">Ambulatory transportation</div>
			  </div>
		  </div>
		</div>
	  
	  </div>
	  <div class=""></div>
  </div>
</div>

</div>

	</div>
<div class="container">
 <br>
    <h2 style="color: green ; ">Ambulatory Transportation </h2>    
 <br>  <br> <br>

<div class="row">
        <img src="{{asset('image/ambulance3.jpeg')}}" alt="" ><br><br><br>  
        <h3>Ambulatory Transportation </h3><br>
        
        <strong><p>
 For persons who walk on their own, with assistance, use a cane or walker but are unable to or prefer not to drive. If you, your loved one or someone you know needs ambulatory transportation, then we are here to serve you. We work hard to ensure you have a safe, comfortable and smooth ride to or from your different appointments including :

        </P>
        <li> Hospital Discharge </li>
        <li> Doctor Appointments </li>
        <li> Long Distance trips </li>
        <li> Physicians Specialists visits </li>
        <li> Chemotherapy and Radiation Therapy </li>
        <li>  Physical Therapy</li> 
        <li>  Dialysis </li>
        </strong>
</div>


</div>
<div class="wsite-section-wrap">
	<div class="wsite-section wsite-body-section wsite-section-bg-color wsite-background-11" style="height: auto;background-color: #020202;background-image: none;" >
		<div class="wsite-section-content">
          <div class="container">
			<div class="wsite-section-elements">
				<div class="wsite-spacer" style="height:50px;"></div>

<h2 class="wsite-content-title" style="text-align:center;"><font color="#ffffff">How Can We Help?</font></h2>

<div class="paragraph" style="text-align:center;"><font color="#ffffff">Get in touch with our team for more information about our services in Washington DC, Maryland, and Northern Virginia.</font></div>

<div style="text-align:center;"><div style="height: 0px; overflow: hidden;"></div>
<a class="wsite-button wsite-button-small wsite-button-highlight" href="{{path('app_contact')}}" >
<span class="wsite-button-inner">Contact Us</span>
</a>
<div style="height: 0px; overflow: hidden;"></div></div>

<div class="wsite-spacer" style="height:50px;"></div>

<div class="wsite-spacer" style="height:50px;"></div>
			</div>
		</div>
        </div>

	</div>
</div>
{%endblock%}
