{% extends "base.html.twig" %}
{% block title %}Carrier{% endblock %}
{% block body %}
<div class="site-canvas">
	

	<div class="main-wrap">
        <div id="wsite-content" class="wsite-elements wsite-not-footer">
	<div class="wsite-section-wrap">
	<div class="wsite-section wsite-body-section wsite-background-41" style="height: auto;" >
		<div class="wsite-section-content">
          <div class="container">
			<div class="wsite-section-elements">
				<div class="wsite-spacer" style="height:50px;"></div>

<h2 class="wsite-content-title" style="text-align:center;">Employment Application</h2>

<div class="paragraph" style="text-align:center;">Interested in working in our team around the Washington, DC area? Fill out an online application today and we'll be in touch if you are a good fit.</div>

<div style="text-align:center;"><div style="height: 10px; overflow: hidden;"></div>
<a class="wsite-button wsite-button-small wsite-button-normal" href="{{path('app_job')}}" >
<span class="wsite-button-inner">Click here to start your Job application</span>
</a>
<div style="height: 10px; overflow: hidden;"></div></div>

<div class="wsite-spacer" style="height:50px;"></div>

<div class="wsite-spacer" style="height:50px;"></div>
			</div>
		</div>
        </div>

	</div>
</div>

</div>

      </div><!-- end main-wrap -->
{% endblock %}