{% extends "base.html.twig" %}
{% block title%} wheelchair {% endblock %}
{%block body%}
<div class="site-canvas">
	<div class="banner-wrap">
	  <div class="wsite-elements wsite-not-footer wsite-header-elements">
  <div class="wsite-section-wrap">
  <div  class="wsite-section wsite-header-section wsite-section-bg-image wsite-section-effect-reveal" style="height: auto;background-color:black ;background-position: 50.00% 63.04% ;background-size: 100%  ;background-size: cover;" >
	  <div class="wsite-section-content">
		  
		<div class="container">
		  <div class="banner">
			  <div class="wsite-section-elements">
				  

<div class="wsite-spacer" style="height:10px;"></div>

<div class="paragraph">wheelchair</div>
			  </div>
		  </div>
		</div>
	  
	  </div>
	  <div class=""></div>
  </div>
</div>

</div>

	</div>
<div class="container">
 <br>
    <h2 style="color: green ; ">Wheelchairs Service </h2>    
 <br>  <br> <br>

<div class="row">
    <div class="col-5">
        <img src="{{asset('image/wheelchair.jpg')}}" alt="" >
    </div>
    <div class="col-7">
        <strong><p>The need to use a wheelchair should not limit your access to transportation. You should be a worry free with Aniscool, LLC! Aniscool, LLC is your wheelchair transport specialists. Our drivers are trained specifically in assisting clients that require the use of wheelchairs. Our drivers understand the needs of wheelchair users and provide personal assistance. Whether you need help to the wheelchair, personal assistance, transporting medical documents to and from your doctor, our drivers are able to provide safe reliable non-emergency medical transportation, and state-of-the-art wheelchair accessible vehicles whenever and wherever you need it in the Washington, DC metropolitan area.</P>
        </strong>
    </div>
</div>
</div>
<div class="wsite-section-wrap">
	<div class="wsite-section wsite-body-section wsite-section-bg-color wsite-background-11" style="height: auto;background-color: #020202;background-image: none;" >
		<div class="wsite-section-content">
          <div class="container">
			<div class="wsite-section-elements">
				<div class="wsite-spacer" style="height:50px;"></div>

<h2 class="wsite-content-title" style="text-align:center;"><font color="#ffffff">How Can We Help?</font></h2>

<div class="paragraph" style="text-align:center;"><font color="#ffffff">Get in touch with our team for more information about our services in Washington DC, Maryland, and Northern Virginia.</font></div>

<div style="text-align:center;"><div style="height: 0px; overflow: hidden;"></div>
<a class="wsite-button wsite-button-small wsite-button-highlight" href="{{path('app_contact')}}" >
<span class="wsite-button-inner">Contact Us</span>
</a>
<div style="height: 0px; overflow: hidden;"></div></div>

<div class="wsite-spacer" style="height:50px;"></div>

<div class="wsite-spacer" style="height:50px;"></div>
			</div>
		</div>
        </div>

	</div>
</div>
{%endblock%}
